.portfolio-section {
  margin-top: 15rem;
  margin-bottom: 15rem;
}

.portfolio-section h2 {
  font-size: 3.2rem;
  text-align: center;
  margin-bottom: 5rem;
}

/* .portfolio-section__projects {
  display: grid;
  grid-template-columns: 4fr 5fr;
  align-items: center;
  row-gap: 6rem;
  column-gap: 3rem;
} */

/* .portfolio-section__image {
  width: 100%;
  box-shadow: 0 0 1rem 0.1rem rgba(0, 0, 0, 0.2);
  border-radius: 7px;
} */

.portfolio-section__info {
  font-size: 1.8rem;
  margin-left: 2rem;
  /* text-align: center; */
}

/* .portfolio-section__info:nth-child(odd) {
  padding-right: 2rem;
}

.portfolio-section__info:nth-child(even) {
  padding-left: 2rem;
} */

.portfolio-section__projects {
  display: flex;
  flex-direction: column;
  gap: 7rem;
}

.portfolio-section__info h3 {
  font-size: 2.4rem;
  margin: 0;
  margin-bottom: 2rem;
}

.portfolio-section__info p {
  margin: 1rem 0;
  letter-spacing: 1px;
  line-height: 24px;
  text-align: justify;
}

.actions {
  display: flex;
  gap: 3rem;
  align-items: center;
  margin-top: 3.4rem;
  justify-content: center;
}

.project-container {
  display: flex;
  gap: 3.8rem;
  align-items: center;
}

.image-right > video,
.image-left > video {
  width: 52%;
  border-radius: 5px;
}
.title-mobile {
  display: none;
}

@media screen and (min-width: 500px) and (max-width: 900px) {
  .portfolio-section {
    width: 80%;
    margin-bottom: 7rem;
  }

  .portfolio-section h2 {
    font-size: 3.6rem;
    margin-bottom: 3rem;
  }

  .project-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.4rem;
    align-items: center;
  }

  .image-right > video,
  .image-left > video {
    width: 95%;
    border-radius: 5px;
  }

  .title-mobile {
    display: block;
    font-size: 3.2rem;
    margin-bottom: 0;
    margin-left: 3rem;
    align-self: flex-start;
  }
  .portfolio-section__info h3 {
    display: none;
  }

  .portfolio-section__info p {
    margin: 1rem 0;
    font-size: 2.4rem;
    letter-spacing: 1px;
    line-height: 30px;
    text-align: justify;
  }

  .image-right > video {
    order: 1;
  }

  .image-right > div {
    order: 2;
  }

  .actions {
    gap: 3rem;
    margin-bottom: 0rem;
  }
}

@media screen and (max-width: 500px) {
  .portfolio-section__info {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
  }

  .portfolio-section {
    margin-top: 1rem;
    margin-bottom: 6rem;
  }
  .project-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.4rem;
    align-items: center;
  }

  .project-container video {
    order: 2;
  }

  .project-container .title-mobile {
    order: 1;
  }

  .project-container .portfolio-section__info {
    order: 3;
  }

  .portfolio-section h2 {
    font-size: 2.2rem;
    margin-bottom: 3rem;
  }

  .portfolio-section__info h3 {
    display: none;
  }

  .title-mobile {
    display: block;
    font-size: 2rem;
    margin-bottom: 0;
    margin-left: 3rem;
    align-self: flex-start;
  }

  .image-right > video,
  .image-left > video {
    width: 95%;
    border-radius: 5px;
  }

  .portfolio-section__info p {
    /* margin: 1rem 0; */
    letter-spacing: 0px;
    line-height: 22px;
    order: 3;
  }
}
